/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Quicksand');


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background: linear-gradient(135deg, rgba(33,153,24,1) 0%,rgba(93,227,234,1) 50%,rgba(170,82,229,1) 100%)
		no-repeat center center fixed;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}




/* 2. Content ================================= */


#app {
	width: 100%;
	height: 100%;
	padding: 3em 3em 4.5em;
}

input[name="hashtag"] {
	width: 100%;
	font-size: 2.5em;
	padding: 0.4em 0.25em;
	font-family: 'Quicksand', sans-serif;
	border: none;
	border-radius: 10px;
}

h2 {
	margin-top: 15px;
}

.tweet-feed {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 1em;

	p {
		width: 25%;
		margin: 2%;

		&:first-child {
			width: 100%;
			font-size: 2.8em;
		}
	}
}











